@{
    ViewData["Title"] = "Home";

}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <p>Whether you're a movie critic, social watcher, or you ended up here by accident- Welcome! Explore my movie database and add your own!</p>
    <br />
    <img src="~/JoelHilton.jpg" />
</div>
