@{
    ViewData["Title"] = "Podcasts";
}
<h1>@ViewData["Title"]</h1>

<p>Visit Baconsale.com to listen to my movie podcasts. Trust me... you won't regret it.</p>

<br />
<div class="center" style="justify-content:center">
    <a class="button bg-dark text-white" href="https://baconsale.com/" target="_blank">Visit Baconsale</a>
</div>
